### NPM ###
npm-debug.log
node_modules

### Deployment ###
.env
Procfile

### Bower ###
**/bower_components/

### API KEYS ###
config.js

### Environment Variables ###
.env
Dockerfile
docker-compose.yml

