<!DOCTYPE html>
<html ng-app="app">
  <head></head>
  <body ng-controller="mapsPageController">
    <form>
      <input type="text" ng-model="firstInputField" placeholder="placeholder1"></input>
      <input type="text" ng-model="secondInputField" placeholder="placeholder2"></input>
      <button type="submit">send</button>
    </form>
  </body>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="../app.js"></script>
</html> 
