<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="client/assets/stylesheets/styles.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav>
      <ul class='navigation'>
        <li><a href="#">home</a></li>
        <li><a href="#">map</a></li>  
        <li><a href="#/signup">sign up</a></li>
        <li ng-click="login()"><a href="#/login">log in</a></li>
        <li><a href="#">sign out</a></li>  
      </ul>
    </nav>

    <!--ui view will be inserted below-->
    <div ng-controller="mapsPageController">
      <div ui-view></div>
      <render-map id="map"></render-map>
    </div>
    <!--render map tag linking to custom directive -->
  
  </body>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="client/app.js"></script>
  <script src="client/public/controllers/signup.js"></script>
  <script src="client/directives/renderMap.js"></script>
  <script src="client/public/controllers/searchController.js"></script>
  <script src="client/public/services/httpService.js"></script>
  <script src="client/public/controllers/mapsPageController.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=angular.noop"></script>

</html> 
